/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

/* GLOBAL STYLES*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: VT323;
  color: #ffffff;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  display: flex;
  flex-flow: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}


